p{
	font-family: 'Fredoka', sans-serif;
}

body{
	background-color: #9ADCFF;
	font-size: 20px;
}
a{
	text-decoration: none;
}
#headerr{
	width: 100%;
	height: 40px;
	background-color: aqua;

}
.headerr{
	width: 1200px;
	height: 40px;
	background-color: greenyellow;
	/*定义边框*/
	border: 1px solid red;
}
.headerr_left{
	width: 200px;
	height: 40px;
	background-color: red;
	float: left;
}
.headerr_right{
	width:400px ;
	height: 40px;
	background-color: grey;
	float: right;

}
/*设置header字体样式*/
.headerr_left>div>span{
	float: left;
	background-color: hotpink;
	line-height: 40px;
	font-weight: bold;
	color: #FF8AAE;
}
.headerr_right>div>span{
	float: right;
	line-height: 40px;
	font-weight: bold;
	color: #FF8AAE;

}

.headerr_left>div:nth-child(2)>a,.headerr_left>div:nth-child(2)>a>img,.headerr_left>div:nth-child(1)>a>i{
	float: left;
}