p{
	font-family: 'Fredoka', sans-serif;
}

body{
	background-color: aliceblue;
}
#headerr{
	width: 100%;
	height: 40px;
	/*background-color: aqua;*/

}
.headerr{
	width: 1200px;
	height: 40px;
	/*background-color: greenyellow;*/
	/*定义边框*/
}
.headerr_left{
	width: 200px;
	height: 40px;
	background-color: red;
	float: left;
}
.headerr_right{
	width:400px ;
	height: 40px;
	background-color: grey;
	float: right;

}
/*设置header字体样式*/
.headerr_left>span{
	float: left;
	/*background-color: yellowgreen;*/
	line-height: 40px;
	font-weight: bold;
}
.headerr_right>span{
	float: right;
	line-height: 40px;
	font-weight: bold;
}